/* ===== AUTH COMMON ===== */
.auth-wrapper {
  position: fixed;       
  inset: 0;                 

  display: flex;
  align-items: center;
  justify-content: center;

  background: #faf8f6;
  z-index: 999;           
}

.auth-card {
  width: 100%;
  max-width: 500px;
  min-height: 520px;
  background: #ffffff;
  border-radius: 20px;
  padding: 25px 40px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
}
.auth-desc {
  text-align: center;
  font-size: 14px;
  color: #7b6f64;
  margin-bottom: 20px;
}
.auth-title {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  color: #3b3128;
  margin-bottom: 50px;
  margin-top: 20px;
}

/* ===== INPUT ===== */
.auth-input {
  width: 100%;
  padding: 13px 14px;
  border-radius: 10px;
  border: 1px solid #e5ded8;
  font-size: 14px;
  margin-bottom: 20px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.auth-input:focus {
  border-color: #d65e18;
  box-shadow: 0 0 0 1px rgba(214, 94, 24, 0.2);
}

/* ===== BUTTON (로그인 / 회원가입 메인 버튼) ===== */
.auth-btn {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  border: none;

  font-size: 15px;
  font-weight: 700;

  cursor: pointer;
  background: #d65e18 !important;
  color: #ffffff;       

  margin-top: 10px;
  transition: background 0.2s, transform 0.05s;
}

.auth-btn:hover {
  background: #bf5314;
}

.auth-btn:active {
  background: #a64512;
  transform: scale(0.97);
}

.auth-btn:disabled {
  background: #e6c4b2;
  color: #ffffff;
  cursor: not-allowed;
}

/* ===== GOOGLE ===== */
.auth-google {
  width: 100%;
  height: 48px;
  margin-top: 15px;

  border-radius: 12px;
  border: 1px solid #D65E18;
  background: #ffffff;

  font-size: 14px;
  font-weight: 600;
  color: #3b3128;

  cursor: pointer;
  transition: background 0.2s;
}

.auth-google:hover {
  background: #f8f6f4;
  border-color: #d65e18;
}

.auth-google:active {
  background: #f1ede9;
  transform: scale(0.97);
}

.auth-google:focus,
.auth-google:focus-visible {
  outline: none;
  box-shadow: none;
  border-color: #d65e18;   
}

/* ===== MESSAGE ===== */
.auth-error {
  color: #9a9188;
  font-size: 13px;
  margin-top: 20px;
}

.auth-success {
  color: #D65E18;
  font-size: 13px;
  margin-top: 12px;
}

/* ===== FOOT TEXT ===== */
.auth-footer {
  text-align: center;
  font-size: 13px;
  color: #7b6f64;
  margin-top: 20px;
}

.auth-footer a {
  color: #d65e18;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.2s;
}

.auth-footer a:hover {
  color: #bf5314;
  text-decoration: underline;
}

.auth-footer a:active {
  color: #a64512;
}

/* ===== FOCUS RESET (테두리 제거) ===== */
button:focus,
button:active,
input:focus {
  outline: none;
  box-shadow: none;
}
button:focus-visible,
a:focus-visible {
  outline: none;
}

.auth-forgot {
  text-align: right;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 16px;
}

.auth-forgot a {
  color: #9a9188;
  text-decoration: none;
}

.auth-forgot a:hover {
  color: #d65e18;
  text-decoration: underline;
}